<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>		
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>
	<appSettings>		
	</appSettings>
	<log4net>
		<appender name="Appender" type="log4net.Appender.RollingFileAppender">
			<file value="logparser.log"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd'.log'"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %-50logger %message%newline"/>
			</layout>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		</appender>
		<appender name="DebugOut" type="log4net.Appender.DebugAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %-50logger %message%newline"/>
			</layout>
		</appender>
		<appender name="ConsoleOut" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %-50logger %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="Appender"/>
			<appender-ref ref="DebugOut"/>
			<appender-ref ref="ConsoleOut"/>
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
